data/.DS_Store
data/elforbrug/elforbrug_2020_2021.csv
data/elforbrug/elforbrug_2020_2021.csv.backup
data/solskinstimer_per_dag/hele-landet-16.-oktober-2021.csv
data/solskinstimer_per_dag/hele-landet-april-2020.csv
data/solskinstimer_per_dag/hele-landet-april-2021.csv
data/solskinstimer_per_dag/hele-landet-august-2020.csv
data/solskinstimer_per_dag/hele-landet-august-2021.csv
data/solskinstimer_per_dag/hele-landet-december-2020.csv
data/solskinstimer_per_dag/hele-landet-februar-2021.csv
data/solskinstimer_per_dag/hele-landet-januar-2021.csv
data/solskinstimer_per_dag/hele-landet-juli-2020.csv
data/solskinstimer_per_dag/hele-landet-juli-2021.csv
data/solskinstimer_per_dag/hele-landet-juni-2020.csv
data/solskinstimer_per_dag/hele-landet-juni-2021.csv
data/solskinstimer_per_dag/hele-landet-maj-2020.csv
data/solskinstimer_per_dag/hele-landet-maj-2021.csv
data/solskinstimer_per_dag/hele-landet-marts-2020.csv
data/solskinstimer_per_dag/hele-landet-marts-2021.csv
data/solskinstimer_per_dag/hele-landet-november-2020.csv
data/solskinstimer_per_dag/hele-landet-oktober-2020.csv
data/solskinstimer_per_dag/hele-landet-oktober-2021.csv
data/solskinstimer_per_dag/hele-landet-september-2020.csv
data/solskinstimer_per_dag/hele-landet-september-2021.csv
